{% extends "base.html" %}

{% block content %}
<div class="container">

    <h1>Доставка и оплата</h1>

        <div class="row">

            <div class="col-5">
                <hr>
                <a href="{% url "about_us" %}">О нас</a>
                <hr>
                <a href="{% url "delivery_payment" %}">Доставка и оплата</a>
                <hr>
                <a href="{% url "contact" %}">Контакты</a>
                <hr>
            </div>

            
            <div class="col-5">
                <h3>Доставка</h3>

                <p>Доставка готовых изделий осуществляется на условиях FCA (Инкотермс 2022).
                     Мы помогаем клиентам заключить договор с транспортной компанией, 
                     чтобы им было проще ориентироваться на рынке транспортно - 
                     экспедиционных услуг Кыргызской Республики.</p>

                <h5>Цена за доставку 1 кг товара — от 50 до 70 руб, срок доставки от 7 дней.</h5>

                <img src="../images/karta.jpg" alt="photo">


                <h5>Оплата</h5>

                <p>Мы работаем по 100% предоплате. 50% оплаты необходимо произвести сразу после согласования моделей,
                     цен и сроков, остальные 50% - по готовности товара, до отгрузки в транспортную компанию.</p>

                <p>Оплату вы можете произвести любым удобным для вас способом: 
                    на расчетные счета, карту или наличными.</p>


                <h3>Возникли вопросы?</h3>
                <p>Свяжитесь с нами, для получения помощи:</p>

                <div class="row">
                    <div class="col-6">
                        <h3>Телефон</h3>
                        <p>Бишкек: <a href="tel:+996 (702) 888 552">+996 (702) 888 552</a></p>
                        <p>Кыргызская Республика, г. Бишкек, ул. Дзержинского, 245</p>
                    </div>
                    <div class="col-6">
                        <h3>Эл. почта            </h3>
                        <p>По всем вопросам пишите нам на почту: <a href="mailto:matai334@gmail.com">matai334@gmail.com2</a></p>
                    </div>
                    <div class="col-6">
                        <h3>Мессенджеры</h3>
                        <p>WhatsApp: <a href="https://api.whatsapp.com/send/?phone=996702888552&text&type=phone_number&app_absent=0">+996 (702) 888 552</a></p>
                        <p>Telegram: <a href="https://t.me/+996 (702) 888 552">+996 (702) 888 552</a></p>
                    </div>
                </div>
            </div>

        </div>
</div>


{% endblock content %}


